@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Khula:700);

html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    padding: 10px;
    background: var(--colour-1);
    color: #ffffff;
}

.row {
    gap: 3vh;
    padding-left: 11px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-1);
}


:root {
    --colour-1: #000000;
    --colour-2: #ccc;
    --colour-3: #e4d4ff;
    --colour-4: #f0f0f0;
    --accent: #3dffd6;
    --blur-bg: #16101b66;
    --blur-border: #00d4b185;
    --opacity:var(--blur);
    --hover:#1e686064;
    --input-buttons:#13af95f6;
    --conversations: #00d4b185;
}

:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}


.container{
   margin: 0;
   max-width: 100%;
}

.modal-content{
    color: black;
}


body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  text-align:left;
  height:45px;
  display:block;
  color:white;
  top: 3px;
  bottom:300px;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
}

/* CSS for Header */

header {
    text-align: center;
    height: 7vh;
    max-width: 100%;
    margin-bottom: 10px;
  }  
  .header-content {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  #logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    margin: 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .navbar a:hover {
    color: #ffc107;
  }
  


/* CSS for Agents */

.agents {
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    display: flex;
    max-width: 230px;
    height: 89vh;
}

/* CSS for Individual Agents */

.agent {
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}

.agent img {
  border-radius: 50%; 
  width: 20px;
  height: 20px; 
}

.bottom_buttons {
    padding-right: 20px;
}

.toggle_conversations {
    color: var(--conversations);
    cursor: pointer; 
    padding-left: 5px;
    padding-bottom: 5px;
}
.agent_button {
  padding: 8px 12px;
  display: inline-flex;
  gap: 3px;
  width: 180px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: 1px dashed var(--conversations);
  border-radius: var(--border-radius-1);
}

.agent_button span {
  color: #ffffff;
  font-size: 14px;
}

.agent_button:hover {
  border-style: solid;
}

.agents_box{
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0px;
}

.box {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
}
.top_buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button i {
    color: var(--conversations);
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px dashed var(--conversations);
    border-radius: var(--border-radius-1);
    width: 100%;
}

.bottom_buttons button:hover {
    border-style: solid;
  }

.bottom_buttons button span {
    color: #ffffff;
    font-size: 14px;
}

/*chatbox*/

#asker_message{
    color: var(--conversations);
    border: 1px dashed;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    margin-left: auto;
    margin-top: 5px;
}
#asker_message p{
    color: rgb(23, 209, 169);
}

#bot_message{
    border: 1px dashed;
    border-radius: 8px;
    padding: 10px 10px 0px 10px;
    margin-top: 5px;
    margin-right: auto;
    width: fit-content;
}
.conversation {
    height: 89vh;
    max-width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 13px;
    border-color: white 2px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.conversation #messages {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: inherit;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.form-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.conversation .user-input {
    position: relative;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    
    color: var(--colour-3);
}

.conversation .user-input input::placeholder {
    color: var(--user-input)
}



.gradient:nth-child(1) {
    --top: 0;
    --right: 0;
    --size: 70vw;
    --blur: calc(0.5 * var(--size));
    --opacity: 0.3;
    animation: zoom_gradient 6s infinite;
}

.gradient {
    position: absolute;
    z-index: -1;
    border-radius: calc(0.5 * var(--size));
    background-color: var(--accent);
    background: radial-gradient(circle at center, var(--accent), var(--accent));
    width: 70vw;
    height: 70vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    filter: blur(calc(0.5 * 70vw)) opacity(var(--opacity));
}

.convo {
    margin-top: 5px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    user-select: none;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.convo:hover {
    background-color: var(--hover);
}

.convo .left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: auto;
    min-width: 0;
}

.convo-title {
    white-space: nowrap;
    color: #ffffff;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none; 
}

.convo i {
    color: var(--conversations);
    cursor: pointer;
}

#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

.buttons {
    min-height: 10vh;
    display: flex;
    align-items: start;
    justify-content: left;
    width: 100%;
}


.input-box {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.info {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    background: transparent;
    border-radius: var(--border-radius-1);
    cursor: default;
    border: 1px dashed var(--conversations)
}



.conversations {
    display: none;
    width: 200px;
}

#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

#chat-form {
    width: 100%;
    height: 100%;
}

.upload-image {
    background-color: transparent;
    border: none;
    width: 7%;
    height: 50px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.send_button {
    background-color: transparent;
    border: none;
    width: 7%;
    height: 50px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}
.send_button:hover, .upload-image:hover {
    background-color:var(--input-buttons);
}
.send_button i{
    cursor: pointer;
    color: white;
}

.grecaptcha-badge {
    visibility: hidden;
}

.loading-message {
    display: none;
}

.messages {
    height: -webkit-fill-available;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    overflow-y: auto;
    padding: 16px;
}


a:-webkit-any-link {
    /* color: #ffffff; */
    text-decoration: none;
}

.conversation .user-input textarea {
    height: 50px;
    font-size: 15px;
    width: 86%;
    max-height: 300px;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: var(--colour-3);
    resize: none;
}

.code-block {
    background-color: #282828;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.copy-btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.copy-btn:hover {
    background-color: #0056b3;
}


.code-container {
    position: relative;
    margin: 10px;
}

.copy-button {
    position: absolute;
    right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    top: 19%;
}

.copy-button:hover {
    background-color: #45a049;
}


.uploaded-file-temp {
    display: none;
}

.uploaded-file{
    display: inline-flex;
    padding: 10px 10px 10px 10px;
    border-radius: var(--border-radius-1);
    border: 1px dashed var(--blur-border);
    margin: 12px;
}

.uploaded-file i{
    color: var(--conversations)
}

pre code.hljs{
    white-space: pre-wrap;
}

.loader-block {
    display: inline-block;
    border-radius: 8px;
    width: 10px;
    height: 10px;
    background-color: #13af95f6;
    margin: 2px;
    animation: fadeInOut 1.5s infinite;
}

.loader-block:nth-child(1) { animation-delay: 0s; }
.loader-block:nth-child(2) { animation-delay: 0.3s; }
.loader-block:nth-child(3) { animation-delay: 0.6s; }