<div class="agents col-2">
        <div class="agent">
            <img src="agent1.png" alt="Incident Responder">
            <p>Incident Responder</p>
        </div>
        <div class="agent">
            <img src="agent2.png" alt="Network Engineer">
            <p>Network Engineer</p>
        </div>
        <div class="agent">
            <img src="agent3.png" alt="SOC Analyst">
            <p>SOC Analyst</p>
        </div>
        <div class="agent">
            <img src="agent4.png" alt="Pentest Specialist">
            <p>Pentest Specialist</p>
        </div>
</div>