    <div class="agents_box">
    <div class="top_buttons">
        <div class="agent">
            <a class="agent_button" href="/soc">
                <span>bot</span>
            </a>
        </div>
        <div class="agent">
            <a class="agent_button" href="/soc/incident-responder">
                <img src="../../static/images/agent1.png" alt="Incident Responder">
                <span>Incident Responder</span>
            </a>
        </div>
        <div class="agent">
            <a class="agent_button" href="/soc/network-engineer">
                <img src="../../static/images/agent2.png" alt="Network Engineer">
                <span>Network Engineer</span>
            </a>
        </div>
        <div class="agent">
            <a class="agent_button" href="/soc/soc-analyst">
                <img src="../../static/images/agent3.png" alt="SOC Analyst">
                <span>SOC Analyst</span>
            </a>
        </div>
        <div class="agent">
            <a class="agent_button" href="/soc/pentest-specialist">
                <img src="../../static/images/agent4.png" alt="Pentest Specialist">
                <span>Pentest Specialist</span>
            </a>
        </div>
    </div>
    <div class="bottom_buttons">
        <button>
            <i class="fa-regular fa-trash"></i>
            <span>Clear Conversations</span>
        </button>
        <div class="info">
            <i class="fa-regular fa-circle-info"></i>
            <span class="convo-title">
                By: @roba<br>
                Version: 0.0.1-beta<br>
                Release: 2023-04-18<br>
            </span>
        </div>
    </div>
    </div>
