
<!-- <div class="stop_generating stop_generating-hidden">
    <button id="cancelButton">
        <span>Stop Generating</span>
        <i class="fa-regular fa-stop"></i>
    </button>
</div> -->

<input type="hidden" id="guid" value="{{ guid }}">
{% if chat_history %}
    {% for message in chat_history %}

        {% if message.file_id %}
        <div class="message"> 
            <div class="message answerer">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" width="20" alt="">
                File:
            </div>
            <div class="message bot">
                <span>{{ message.file_id }}</span>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="message" style="text-align: right;"> 
            <div class="message asker" style="color: greenyellow;">
                <span style="color: rgb(9, 212, 252);">[~]$</span>  User:
            </div>
            <div class="message user" id="asker_message">
                <p></p>
                <p> {{ message.question }}</p> 
            </div>
        </div>
        {% if message.answer %}
        <div class="message"> 
            <div class="message answerer" style="color: red;">
                <span style="color: rgb(9, 212, 252);">[~]$</span>  {{ message.agent }}:
            </div>
            <div class="message bot" id="bot_message">
             {{ message.getAnswer|safe }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="loading-message">
    <br>
    <div class="message" style="text-align: right;"> 
        <div class="message asker" style="color: greenyellow;">
            <span style="color: rgb(9, 212, 252);">[~]$</span>  User:
        </div>
        <div class="message user" id="asker_message">
            <p></p>
            <p></p> 
        </div>
    </div>
    <div class="message"> 
        <div class="message answerer" style="color: red;">
            <span style="color: rgb(9, 212, 252);">[~]$</span>
        </div>
        <div class="message bot" id="bot_message">
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
        </div>
    </div>
</div>