<header>
  <div class="box">
    <div class="header-content">

    <div class="logo" id="logo" >
      <a href="/" style="text-decoration: none;">
        <div class='console-container'>
          <span id='text'></span>
          <div class='console-underscore' id='console'>
              &#95;
          </div>
        </div>
      </a>
    </div>

      <nav class="navbar">
        <form class="color-picker" action="">
            <fieldset>
                <legend class="visually-hidden">Pick a color scheme</legend>
                <label for="light" class="visually-hidden">Light</label>
                <input type="radio" title="light" name="theme" id="light" checked>

                <label for="blue" class="visually-hidden">Blue theme</label>
                <input type="radio" title="blue" id="blue" name="theme">
            </fieldset>
         </form>
      </nav>
    </div>
  </div>
</header>
