<header>
  <div class="box">
    <div class="header-content">
      <div class="logo">Your Logo</div>
      <nav class="navbar">
        <!-- <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a> -->

        <form class="color-picker" action="">
                        <fieldset>
                            <legend class="visually-hidden">Pick a color scheme</legend>
                            <label for="light" class="visually-hidden">Light</label>
                            <input type="radio" title="light" name="theme" id="light" checked>
                        
                            <label for="pink" class="visually-hidden">Pink theme</label>
                            <input type="radio" title="pink" id="pink" name="theme">
                        
                            <label for="blue" class="visually-hidden">Blue theme</label>
                            <input type="radio" title="blue" id="blue" name="theme">
                        
                            <label for="green" class="visually-hidden">Green theme</label>
                            <input type="radio" title="green" id="green" name="theme">
                        
                            <label for="dark" class="visually-hidden">Dark theme</label>
                            <input type="radio" title="dark" id="dark" name="theme">
                        </fieldset>
         </form>
      </nav>
    </div>
  </div>
</header>