{% extends 'layouts/base.html' %}

{% block title %}SOC GPT{% endblock %}

{% block content %}
    <div class="agents">
        {% include 'layouts/agents.html' %} 
    </div>
    <div class="conversation disable-scrollbars">
        <div class="messages">
            {% include 'layouts/chatbox.html' %}
        </div>
        <div class="user-input">
            <div class="box input-box">
                <form id="chat-form" method="post" action="{% url 'main' %}" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <input type="hidden" id="type" value="{{ type }}">
                    <input type="file" name="file_upload" id="file-upload" style="display: none;">
                    <div class="form-content">
                        <button type="text" class="upload-image"  id="upload-button">
                            <i class="fas fa-file"></i>
                        </button>
                        <textarea oninput="textAreaAdjust(this)" id="message-input" type="text" name="user_input" placeholder="Type your message..."  autofocus></textarea>
                        <button type="submit" class="send_button">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div> 
    

{% endblock %}


