<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
</head>
<body>
    
    <div class='console-container'>
        <span id='text'></span>
        <div class='console-underscore' id='console'>
            &#95;
        </div>
    </div>

    <div class="gradient"></div>
    <div class="container col-6 min-vh-100">

        <div id="gpts">
                <a id="gpt_button" href="/orchestrator">SOC</a>
        </div>
    </div>

    <script src="../static/js/welcome.js"></script>
</body>
</html>
